libsstr.a
test_runner
.jj
**/*.o
examples/basic_usage
examples/formatting
.devbox
.idea
test_validation
*.csv
*.json
results*.md
build/*
*.xml
*.goto
test_single_include
docker-cache*
klee-build

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake-build-debug
.aider*
